@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Open+Sans:wght@300&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    line-height: 1.8;
    margin-bottom: 0px;

}

main{
    width: 80%;
    margin: auto;
    background-color: rgb(247, 237, 224);
}

h1{
    text-align: center;
    /* letter-spacing: 5px; espaçamento entre as letras */
    
}

.div_geral{
    border: 1px solid black;
}

span{
   
    font-weight: 900;
}

li{
    margin: 12px;
}

footer{
    margin: 50px 0px 0px 0px;
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.599);
    color: white;
}
